@page "/dashboard"

@attribute [Authorize(Roles = "Admin,User")]

<div class="row">
	<div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
		<h1 style="text-align:center">Dashboard</h1>
			<h2 style="text-align:center">Falta que martin lo desarolle</h2>
			<hr />
			<div class="form-floating mb-3">
				
			</div>
			<div class="form-floating mb-3">
				
			</div>
			<button type="submit" class="w-100 btn btn-lg btn-dark">PONETE A LABURAR MARTIN</button>
	</div>
</div>

@code {

}
