.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    background-color:#f2f0e4;
}

.card-img-top-svg {
    width: 100%;
    height: 15vw;
    object-fit:contain;
    background-color: #f2f0e4;
}

.text-main-color{
    color:#bf4c41;
}
