@page "/salir"

@using Microsoft.AspNetCore.Authentication

@inject NavigationManager NavMan

<PageTitle>Salir</PageTitle>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body flex-column">
				<div class="text-center">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
						<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
					</svg>
				</div>
				<div class="text-center mt-2">
					<span class="text-danger fw-bolder">Has salido de tu cuenta exitosamente !</span>
				</div>
			</div>
		</div>
	</div>
</div>

@code {

	[CascadingParameter]
	public HttpContext? HttpContext { get; set; }

	protected override async Task OnInitializedAsync()
	{

		await base.OnInitializedAsync();
		if (HttpContext != null &&  HttpContext.User.Identity != null && HttpContext.User.Identity.IsAuthenticated)
		{
			await HttpContext.SignOutAsync();
			NavMan.NavigateTo("/salir", true);
		}

	} 

}