@page "/recuperar"

using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.RazorPages;
using Microsoft.AspNetCore.Identity;

<h3>Recuperar Contraseña</h3>

<form method="post">
    <div class="form-group">
        <label for="Email">Correo electrónico</label>
        <input type="email" id="Email" name="Email" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
</form>

@code {


    private readonly UserManager<IdentityUser> _userManager;

    public ResetPasswordModel(UserManager<IdentityUser> userManager)
    {
        _userManager = userManager;
    }

    [BindProperty]
    public InputModel Input { get; set; }

    public class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; }
    }

    public async Task<IActionResult> OnPostAsync()
    {
        if (ModelState.IsValid)
        {
            var user = await _userManager.FindByEmailAsync(Input.Email);
            if (user != null)
            {
                var resetToken = await _userManager.GeneratePasswordResetTokenAsync(user);
                var result = await _userManager.ResetPasswordAsync(user, resetToken, "12345678");
                if (result.Succeeded)
                {

                    return RedirectToPage("Home");
                }
                else
                {
                    foreach (var error in result.Errors)
                    {
                        ModelState.AddModelError(string.Empty, error.Description);
                    }
                }
            }
            else
            {
                ModelState.AddModelError(string.Empty, "El mail ingresado no se encuentra registrado.");
            }
        }
        return Page();
    }
 

}
