@page "/buscar"

@using Microsoft.EntityFrameworkCore
@using TruequeTools.Data
@using TruequeTools.Entities
@using Microsoft.AspNetCore.Mvc;
@using System.Linq;

@inject TruequeToolsDataContext context
@inject NavigationManager NavMan
@inject IServiciosPublicacion PublicacionService
@inject IServiciosCategoria CategoriaService

@attribute [Authorize(Roles = "Admin,User")]

@rendermode @(new InteractiveServerRenderMode(prerender:false))

<div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <h1 style="text-align:center">Buscar</h1>
        <h2 style="text-align:center">Encontrar el producto ideal</h2>
        <hr />
        <form method="get" @onsubmit="BuscarPublicaciones">
            <div class="form-floating mb-3">
                <InputText @bind-Value="searchString" class="form-control" autocomplete="off" aria-required="true" placeholder="" maxlength="50" />
                <label for="buscar">Buscar</label>
            </div>
            <div class="form-floating mb-3">
                <InputSelect @bind-Value="selectedFilter" class="form-control" autocomplete="sucursal" aria-required="true" placeholder="" maxlength="50">
                    <option value="0">No filtrar por categoria</option>
                    @foreach (var cat in categorias)
                    {
                        <option value="@cat.Id">@cat.Nombre</option>
                    }
                </InputSelect>
                <label for="categoria">Categoria</label>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-dark">Buscar</button>
        </form>
    </div>
</div>

@if (showSpinner)
{
    <div class="d-flex justify-content-center" style="margin:1rem">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}

@if (busquedaRealizada && !showSpinner)
{
    @if (publicaciones != null && publicaciones.Any())
    {
        <h3 class="text-center" style="margin:1rem">Mostrando @publicaciones.Count publicaciones</h3>
        <TarjetaPublicacion ListaPublicaciones="publicaciones" />
    }
    else
    {
        <h3 class="text-center" style="margin:1rem">No se encontraron resultados...</h3>
    }
}

@code {
    
    List<Publicacion> publicaciones = new List<Publicacion>();
    List<Categoria> categorias = new List<Categoria>();
    string? searchString;
    int selectedFilter;
    bool busquedaRealizada = false;
    bool showSpinner = false;

    protected override async Task OnInitializedAsync()
    {
        categorias = await CategoriaService.ReadAllCategorias(); //LECTURA DE TODAS LAS CATEGORIAS
    }

    void VerPublicacion(int id)
    {
        NavMan.NavigateTo($"/publicacion/{id}");
    }

    protected async Task BuscarPublicaciones()
    {
        showSpinner = true;
        await Task.Delay(500);
        if(String.IsNullOrEmpty(searchString)){
            publicaciones = await PublicacionService.ReadAllPublicacionesActivas();
        }
        else
        {
            publicaciones = await PublicacionService.ReadPublicacionesActivasByNombre(searchString);
        }
        if (selectedFilter != 0)
        {
            publicaciones = publicaciones
            .Where(p => p.Nombre != null && p.CategoriaId == selectedFilter && p.Deleted == false)
            .ToList();
        }
        busquedaRealizada = true;
        showSpinner = false;
        StateHasChanged();
    }

}
